force-app/main/default/flows/Travel_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Add_to_Calendar_Decision</name>
        <label>Add to Calendar?</label>
        <locationX>884</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Do not add to Calendar</defaultConnectorLabel>
        <rules>
            <name>Add_to_Calendar_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_to_Calendar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Record_Create</targetReference>
            </connector>
            <label>Add to Calendar</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Travel_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Travel_Reason__c</picklistField>
        <picklistObject>Travel_Approval__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerId}</expression>
    </formulas>
    <interviewLabel>Travel Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Travel Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Event_Record_Create</name>
        <label>Event Record Create</label>
        <locationX>1103</locationX>
        <locationY>316</locationY>
        <assignRecordIdToReference>EventRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Travel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Travel_Destination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>TravelApprovalRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Travel_Approval_Record_Create</name>
        <label>Travel Approval Record Create</label>
        <locationX>892</locationX>
        <locationY>117</locationY>
        <assignRecordIdToReference>TravelApprovalRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_to_Calendar_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Level_1__c</field>
            <value>
                <elementReference>ManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Partner_Name__c</field>
            <value>
                <elementReference>CustomerOrPartnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Cost__c</field>
            <value>
                <elementReference>Travel_Cost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Date__c</field>
            <value>
                <elementReference>Travel_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Destination__c</field>
            <value>
                <elementReference>Travel_Destination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Reason__c</field>
            <value>
                <elementReference>Travel_Reason_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Travel_Approval__c</object>
    </recordCreates>
    <recordLookups>
        <name>Search_Approver_Level1_Manager</name>
        <label>Search Approver Level1 (Manager)</label>
        <locationX>545</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>ManagerUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>726</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Travel_Approval_Record_Create</targetReference>
        </connector>
        <fields>
            <name>TravelApprovalPathLWC2</name>
            <extensionName>c:travelApprovalPath_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>step</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Approval_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;﻿&lt;/u&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;﻿&lt;img src=&quot;https://www.dropbox.com/s/5i0cry7vjqtjjfp/travel_approval.jpeg?raw=1&quot;&gt;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Travel Approval Resume&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Travel Description: {!Description}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Travel Destination: {!Travel_Destination}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Travel Reason: {!Travel_Reason_Picklist}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Travel Date: {!Travel_Date}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Travel Cost: {!Travel_Cost}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Customer or Partner Name: {!CustomerOrPartnerName}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TravelApprover</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Approver Level 1&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;:&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt; {!ManagerUser.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Option</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Option&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_to_Calendar</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Add to Calendar?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cost</name>
        <label>Cost</label>
        <locationX>367</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Approver_Level1_Manager</targetReference>
        </connector>
        <fields>
            <name>TravelApprovalPathLWC1</name>
            <extensionName>c:travelApprovalPath_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>step</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Travel_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Travel Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Information</name>
        <label>General Information</label>
        <locationX>180</locationX>
        <locationY>118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cost</targetReference>
        </connector>
        <fields>
            <name>TravelApprovalPathLWC0</name>
            <extensionName>c:travelApprovalPath_LWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>step</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Travel_Destination</name>
            <dataType>String</dataType>
            <fieldText>Travel Destination</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Travel_Date</name>
            <dataType>Date</dataType>
            <fieldText>Travel Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Travel_Reason_Picklist</name>
            <choiceReferences>Travel_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Travel Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Partner_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Customer_Partner_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer/Partner Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Travel_Approval__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerOrPartnerId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CustomerOrPartnerName</assignToReference>
                <name>recordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Travel_Reason_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Meeting</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Travel_Reason_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partner Meeting</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>General_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerOrPartnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerOrPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TravelApprovalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
